:root {
  --bg: #f7fafc;
  --card: #fff;
  --accent: #0ea5e9;
  --text: #0f172a;
}

/* page basics */
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    "Segoe UI",
    Tahoma,
    Arial,
    sans-serif,
    arabic typesetting;

  background: var(--bg);
  color: var(--text);
  direction: rtl;
}

/* header/footer */
header,
footer {
  text-align: center;
  padding: 12px 16px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(2, 6, 23, 0.04);
}

/* content area */
#content-area {
  max-width: 100%;
  margin: auto auto;
  padding: 12px;
  background-image: url("/images/vert.jpg");
}

/* react-flow container */
.react-flow {
  width: 300%;
  height: 600px;
  border-radius: 8px;
  border: 1px solid #e6eef6;
  background: black; /* <-- ici */
  margin-bottom: 18px;
}

/* NodeCard */
.node-card {
  background: var(--card);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.06);
  border: 1px solid #e6eef6;
  cursor: pointer;
  text-align: center;
  fontsize: 40;
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background: #0f172a;
  color: #fff;
  overflow: auto;
  z-index: 1200;
  padding: 20px;
}

/* PDF button */
.pdf-btn {
  padding: 8px 12px;
  background: var(--accent);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
  font-family: arabic typesetting;
}
.image-viewer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  overflow: hidden;
  cursor: grab;
}

.image-viewer-container:active {
  cursor: grabbing;
}

.image-viewer-img {
  max-width: none !important;
  max-height: none !important;
  width: auto;
  height: auto;
  pointer-events: auto;
  user-select: none;
  display: block;
  transform-origin: top left;
}

.image-viewer-controls {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-viewer-controls button {
  width: 40px;
  height: 40px;
  background: orange;
  border-radius: 6px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-btn {
  background: red !important;
  color: white;
}
